<div class="container welcome-landing-jumbotron signed-in-view">
  <div class="jumbotron jumbotron-fluid">
      <h1>All pages</h1>
      <p>Showing <b>{{pages.length}}</b> pages from all users.</p>
      <!-- <div id="user-messages" class="user-messages col-xs-12" style="margin: 15px;"></div> -->

  </div>
</div>

<div class="container all-pages-view signed-in-view">


{{#each pages as |page|}}
  <div class="card col-xs-3" style="padding: 20px; height: 200px; margin: 20px;">
    <div class="card-block" style="padding: 10px">
      <h3 class="card-title page-card-title">{{page.title}}</h3>
      <h5 class="card-text page-card-description">Description: {{page.description}}</h5>
      <button data-id="{{page.id}}" class="btn btn-info view-page-posts-button">View Posts</button>
    </div>
  </div>
{{/each}}


</div>
