<div id="create-new-page-forms-id" class="signed-in-view col-xs-8">

    <div class="create-new-page-forms-header">
      <h2>Create New Page</h2>
    </div>

    <div class="create-new-page-forms-body">

      <form id="create-new-page-forms-submit" class="form-inline">
        <div class="form-group">
          <label for="page-title">Page Title*</label>
          <input id="page-title-input-id" type="text" name="page[title]" class="form-control" autofocus required>
        </div>
        <br>
        <div class="form-group">
          <label for="page-description">Page Description*</label>
          <input id="page-description-input-id" type="text" name="page[description]" class="form-control" required>
        </div>
        <br>
        <div class="form-group create-new-page-buttons-div">
          <button id="create-page-button" type="submit" class="btn btn-info submit-button-class">Create</button>
          <!-- <button id="cancel-create-page-button" type="submit" class="btn btn-warning">Cancel</button> -->
        </div>
    </form>

  </div>
</div>
