<div id="create-new-post-forms-id" class="signed-in-view col-xs-8">

    <div class="create-new-post-forms-header">
      <h2>Create New Post</h2>
    </div>

    <div class="create-new-post-forms-body">

      <form id="create-new-post-forms-submit" class="form-inline">
        <div class="form-group">
          <!-- <label for="post-parent-page">Post Parent Page Id*</label> -->
          <input id="post-parent-page-input-id" type="hidden" name="post[_page]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="post-title">Post Title*</label>
          <input id="post-title-input-id" type="text" name="post[title]" class="form-control" autofocus required>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="post-content">Post Content*</label>
          <input id="post-content-input-id" type="text" name="post[content]" class="form-control" required>
        </div>
        <div class="form-group create-new-post-buttons-div">
          <button id="create-new-post-button" type="submit" class="btn btn-info submit-button-class">Create</button>
          <!-- <button type="submit" class="btn btn-warning submit-button-class">Cancel</button> -->
        </div>
    </form>

  </div>
</div>
