<div id="update-new-post-forms-id" class="signed-in-view col-xs-8">

    <div class="update-new-post-forms-header">
      <h2 class="update-post-header">Update Post</h2>
    </div>

    <div class="update-new-post-forms-body">

      <form id="update-new-post-forms-submit" class="form-inline">
        <div class="form-group">
          <!-- <label for="post-parent-page">Post Parent Page Id*</label> -->
          <input id="post-parent-page-input-id" type="hidden" name="post[_page]" class="form-control" required>
        </div>
        <div class="form-group">
          <input type="hidden" id="post-id-input" name="post[id]" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="post-title">Post Title*</label>
          <input id="post-title-input-id" type="text" name="post[title]" class="form-control" autofocus required>
        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="post-content">Post Content*</label>
          <input id="post-content-input-id" type="text" name="post[content]" class="form-control" required>
        </div>
        <div class="form-group update-new-post-buttons-div">
          <button id="update-new-post-button" type="submit" class="btn btn-success submit-button-class">Update</button>
          <!-- <button id="cancel-update-post-forms-button" class="btn btn-warning">Cancel</button> -->
        </div>
    </form>

  </div>
</div>
