<div id="update-new-page-forms-id" class="signed-in-view col-xs-8">

    <div class="update-new-page-forms-header">
      <h2>Update Page</h2>
    </div>

    <div class="update-new-page-forms-body">

      <form id="update-new-page-forms-submit" class="form-inline">
        <div class="form-group">
          <div class="form-group">
            <input type="hidden" id="page-id-input" name="page[id]" class="form-control" required>
          </div>
          <label for="page-title">Page Title*</label>
          <input id="page-title-input-id" type="text" name="page[title]" class="form-control" autofocus required>
        </div>
        <br>
        <div class="form-group">
          <label for="page-description">Page Description*</label>
          <input id="page-description-input-id" type="text" name="page[description]" class="form-control" required>
        </div>
        <br>
        <div class="form-group update-new-page-buttons-div">
          <button id="update-page-button" type="submit" class="btn btn-info submit-button-class">Update</button>
          <!-- <button type="submit" class="btn btn-warning submit-button-blass">Cancel</button> -->
        </div>
    </form>

  </div>
</div>
